*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.1em;
  background: linear-gradient(to right, #6c5ce7, #fd79a8);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-align: center;
}
h1 {
  font-size: 5rem;
  font-family: "Honk", system-ui;
}
#root,
#__next {
  isolation: isolate;
}
